<launch>
  <!--rosparam command="load" file="$(find pcl_manipulation)/launch/arm5e_pc_grasp_planning.yaml" /-->  
  <node pkg="tf" type="static_transform_publisher" name="tf_bMc" args="-0.29 0.045 0.25 0 0 0 kinematic_base stereo 100" />
  <node name="arm5_grasp_exec" pkg="pcl_manipulation" type="arm5_grasp_exec" output="screen" respawn="false"/>

</launch>


