<launch>
	<arg name="scene" default="amphoraGT.xml" />
	<arg name="model" default="$(find ik_solver_vel_pinv)/urdf/g500GTrviz_absPath.urdf"/>
	<arg name="gui" default="True" />

	<param name="use_gui" value="$(arg gui)" />
	<param name="robot_description" textfile="$(arg model)" />
	<rosparam param="source_list">["/uwsim/joint_state"]</rosparam>
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<remap from="/joint_states" to="/uwsim/joint_state_command" />
	</node>

	<node name="uwsim" pkg="uwsim" type="uwsim" args="--configfile $(arg scene)" output="screen" respawn="false" />
	
	<group ns="camera">
			<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc"  output="screen">
					<param name="disparity_range" type="double" value="127.0"/>
			</node>
  </group> 
</launch>

